button {
    background-color: #1a73e8;
    border: 1px solid transparent;
    border-radius: 10px;
    color: white;
    font-size: 18px;
    padding: 5px 20px;
    width: auto;
}

button:hover {
    background-color: #4b98fb;
}