.checked {
    color: orange;
}

.submitBtn {
    margin-top: 5px;
    background-color: #1a73e8;
    border: 1px solid transparent;
    border-radius: 5px;
    color: white;
    height: 40px;
    width: 80px;
}

.submitBtn:hover {
    background-color: #4b98fb;
}

.textError {
    font-size: 12px;
    margin-bottom: 0;
    margin-top: 5px;
    color: red;
    display: none;
}

.textError-active {
    display: block;
}

.formError select,
.formError textarea {
    border: 1.5px solid red;
}